.space0 { margin: 0 !important; }
.space5 { margin: 5px !important; }
.space10 { margin: 10px !important; }
.space15 { margin: 15px !important; }
.space20 { margin: 20px !important; }
.space-top0 { margin-top: 0 !important; }
.space-top5 { margin-top: 5px !important; }
.space-top10 { margin-top: 10px !important; }
.space-top15 { margin-top: 15px !important; }
.space-top20 { margin-top: 20px !important; }
.space-top45 { margin-top: 45px !important; }
.space-btm0 { margin-bottom: 0 !important; }
.space-btm5 { margin-bottom: 5px !important; }
.space-btm10 { margin-bottom: 10px !important; }
.space-btm15 { margin-bottom: 15px !important; }
.space-btm20 { margin-bottom: 20px !important; }
.space-left0 { margin-left: 0 !important; }
.space-left5 { margin-left: 5px !important; }
.space-left10 { margin-left: 10px !important; }
.space-left15 { margin-left: 15px !important; }
.space-left20 { margin-left: 20px !important; }
.space-right0 { margin-right: 0 !important; }
.space-right5 { margin-right: 5px !important; }
.space-right10 { margin-right: 10px !important; }
.space-right15 { margin-right: 15px !important; }
.space-right20 { margin-right: 20px !important; }

.pdng0 { padding: 0 !important; }
.pdng5 { padding: 5px !important; }
.pdng10 { padding: 10px !important; }
.pdng15 { padding: 15px !important; }
.pdng20 { padding: 20px !important; }
.pdng-top0 { padding-top: 0 !important; }
.pdng-top5 { padding-top: 5px !important; }
.pdng-top10 { padding-top: 10px !important; }
.pdng-top15 { padding-top: 15px !important; }
.pdng-top20 { padding-top: 20px !important; }
.pdng-btm0 { padding-bottom: 0 !important; }
.pdng-btm5 { padding-bottom: 5px !important; }
.pdng-btm10 { padding-bottom: 10px !important; }
.pdng-btm15 { padding-bottom: 15px !important; }
.pdng-btm20 { padding-bottom: 20px !important; }
.pdng-left0 { padding-left: 0 !important; }
.pdng-left5 { padding-left: 5px !important; }
.pdng-left10 { padding-left: 10px !important; }
.pdng-left15 { padding-left: 15px !important; }
.pdng-left20 { padding-left: 20px !important; }
.pdng-right0 { padding-right: 0 !important; }
.pdng-right5 { padding-right: 5px !important; }
.pdng-right10 { padding-right: 10px !important; }
.pdng-right15 { padding-right: 15px !important; }
.pdng-right20 { padding-right: 20px !important; }

.font10 { font-size: 10px !important; }
.font11 { font-size: 11px !important; }
.font12 { font-size: 12px !important; }
.font13 { font-size: 13px !important; }
.font14 { font-size: 14px !important; }
.font15 { font-size: 15px !important; }
.font16 { font-size: 16px !important; }
.font17 { font-size: 17px !important; }
.font18 { font-size: 18px !important; }
.font19 { font-size: 19px !important; }
.font20 { font-size: 20px !important; }
.font21 { font-size: 21px !important; }
.font22 { font-size: 22px !important; }
.font23 { font-size: 23px !important; }
.font24 { font-size: 24px !important; }
.font25 { font-size: 25px !important; }

.font-bold { font-weight: bold !important; }
.font-normal { font-weight: normal !important; }

.display-block { display: block !important; }
.display-inline-block { display: inline-block !important; }
.display-inline { display: inline !important; }

.overflow-scroll { overflow: scroll !important }
.overflow-x-scroll { overflow-x: scroll !important }
.overflow-y-scroll { overflow-y: scroll !important }
.overflow-hidden { overflow: hidden !important }
.overflow-x-hidden { overflow-x: hidden !important }
.overflow-y-hidden { overflow-y: hidden !important }

.pointer { cursor: pointer !important; }

.valign-top { vertical-align: top !important; }
.valign-mdl { vertical-align: middle !important; }
.valign-btm { vertical-align: bottom !important; }

.border0 { border: 0 !important; }
.border1 { border: 1px solid #dddddd !important; }
.border-btm1 { border-bottom: 1px solid #dddddd !important; }
.border-top1 { border-top: 1px solid #dddddd !important; }

.full-width { width: 100% !important; }

.row-same-height { display: table; width: 100%; }
.col-height { display: table-cell; float: none !important; }
.col-top { vertical-align: top; }
.col-middle { vertical-align: middle; }
.col-bottom { vertical-align: bottom; }