body {
    font-size: $font-size;
    font-family: $web-font;
}

a, .btn {
    &:focus,
    &:hover,
    &:active {
        outline: none;
        text-decoration: none;
    }
}

.sidebar-closed {
   #content {
       margin-left: 0;
   }
}

.required:after {
    color: red;
    content: ' *';
}