$web-font: Lato;
$font-size: 13px;

$brand-color: #ff5933;

$sidebar-background-color: #2d353c;
$sidebar-expanded-menu-background-color: #232a2f;
$sidebar-active-menu-background-color: #ff5933;
$sidebar-sub-menu-background-color: #1a2229;
$sidebar-sub-menu-border-color: #10181f;

$sidebar-menu-color: #a8acb1;
$sidebar-active-menu-color: #889097;
$sidebar-inactive-menu-color: #6d7983;